<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wecare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeCare">
        <activity
            android:name=".Do_yoga"
            android:exported="false" />
        <activity
            android:name=".Breathing"
            android:exported="false" />
        <activity
            android:name=".making_room"
            android:exported="false" />
        <activity
            android:name=".unhooking"
            android:exported="false" />
        <activity
            android:name=".grounding_three"
            android:exported="false" />
        <activity
            android:name=".grounding_two"
            android:exported="false" />
        <activity
            android:name=".Grounding_one"
            android:exported="false" />
        <activity
            android:name=".Audio"
            android:exported="false" />
        <activity
            android:name=".OCD"
            android:exported="false" />
        <activity
            android:name=".Log"
            android:exported="false" />
        <activity
            android:name=".bipolar_male"
            android:exported="false" />
        <activity
            android:name=".ptsd_male"
            android:exported="false" />
        <activity
            android:name=".depression_male"
            android:exported="false" />
        <activity
            android:name=".stress_male"
            android:exported="false" />
        <activity
            android:name=".anxiety_male"
            android:exported="false" />
        <activity
            android:name=".BipolarOG"
            android:exported="false" />
        <activity
            android:name=".BIPOLAR"
            android:exported="false" />
        <activity
            android:name=".SCHIZOPHRENIA"
            android:exported="false" />
        <activity
            android:name=".PTSD"
            android:exported="false" />
        <activity
            android:name=".OVERCOMING_stigma"
            android:exported="false" />
        <activity
            android:name=".Male_mental"
            android:exported="false" />
        <activity
            android:name=".EXERCISES"
            android:exported="false" />
        <activity
            android:name=".COPING_dep"
            android:exported="false" />
        <activity
            android:name=".STRESS"
            android:exported="false" />
        <activity
            android:name=".ANXIETY"
            android:exported="false" />
        <activity
            android:name=".Depression"
            android:exported="false" />
        <activity
            android:name=".FEMALES"
            android:exported="false" />
        <activity
            android:name=".MALES"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>